.thedivcontainall{
	width: 1280px;
	margin : auto;
}
.header{
	width: 100%;
	background-color: white;
	align-content: center;
	margin:auto;
}

.bignavigator{
	width: 100%;
	height: 55px;
	background-color: black;
}
.bignavigatorleft{
	float: left;
}
.bignavigatorleftcontent{
	background-color: black;
	color: white;
	width: 308px;
	height: 17,5px;
	float: left;
	
	margin-bottom: 9,5px;
	margin-left: 55px;

}
.nignavigatorrightproperties{
	width: 114px;
	height: 16px;
	float: right;
	color: white;
}
.shockingcomercial{
	
	width: 93%;
	align-self: center;
	background-color: pink;
	clear: both;
	margin: auto;
}
.shockingcomercialleft{
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	float: left;
	}
	.shockingcomercialright{
		float: right;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 44px;
	}

	#SearchInput{
		float: left;
		width: 332px;
		height: 41px;
		margin-top: 35px;
		border : 1px solid black;

	}
	.LogoImage{
		margin-left: 46px;
	}
	.searcharea{
		width: 1170px;
		margin:auto;
	}

	.contactArea{
		float: right;
		text-align: right;
		margin:50px;
	}
	.searchareainput input[type=text] {
		float: left;
		padding: 5px;
		margin-top: 35px;
		border: 1px solid black;
		font-size: 20px;
		width: 60%;
	}

	.searchareainput button{
		font-size: 25px;
		float: left;
		background-color: black;
		width: 55px;
		margin-top: 34px;
	}
	.contactinsearch{
		clear: both;
		float: right;
	}
	.searchareaproperties{
		float: left;
	}
	.productnavigator{
		width :100%;
	}
	.navigatorproperties li {
		float: left;
		margin-bottom: 20px;
		height: 100%;

	}
	.navigatorproperties li a {
		display: block;
		color: black;
		text-align: center;
		text-decoration: none;
		align-items: center;
	}
	.navigatorproperties{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;
	}
	.body{
		width: 93%;
		margin:auto;
		
	}
	.slider{
		width: 1170px;
		height: 493px;

	}
	.certificate{
		width: 1102px;
		margin:auto;
		height: 113px;
	}

	.certificateproperties li {
		float: left;
		height: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.certificateproperties li a {
		display: block;
		text-align: center;
		text-decoration: none;
		align-items: center;
	}
	.certificateproperties{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;
	}
	.subnavigator{
		width: 100%;
		height: 57px;
		clear: both;
		margin-top: 25px;
		background-color: black;
	}
	.subnavigatorleft{
		float: left;
	}
	
	.subnavigatorleftproperties{
		color: white;
		margin-top: 19.5px;
	}
	.subnavigatorleftproperties a{
		color: white;
	}
	
	.subnavigatorright li {
		float: left;
		height: 100%;
		display: block;
		margin-top: 21px;

	}
	.subnavigatorright li a {
		
		text-align: center;
		text-decoration: none;
		align-items: center;
		color: white;
	}
	.subnavigatorright{
		list-style-type: none;
		color: white;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: black;
	}
	
	
	.producthot{
		width: 1170px;
	}
	.productlist{
		width: 1170px;
	}
	.productlistproperties{
		float: left;
	}
	.addtocartbutton{
		color: white;
		clear: both;
		width: 100%;
		background-color: red;
		height: 40px;
		
	}
	.productimghot{
		width: 278px;
		height: 278px;
	}
	.viewmorelink{
		text-align: right;
		width: 100%;
		float: right;
		clear: both;
		margin-bottom: 20px;
	}
	.manualSales{
		
	}
	.bodywithcomercial{
		width: 1170px;
	}
	.bodywithcomercial_leftside{
		float: left;
		margin-top: 50px;
	}
	.bodywithcomercialtitle{
		width: 875px;
		height: 45px;
	}
	.bodywithcomercial_rightside{
		float: right;
		margin-top: 50px;
	}
	.bodywithcomercial_rightside img{
		width: 277px;
		height: 1285px;
	}
	.onsalewithtimecountdown{
		width: 875px;
		height: 461px;
		clear: both;
	}
	.onsaleimg{
		width: 100%;
		float: left;
		height: 278px;
	}
	.onsalewithtimecountdown div{
		text-align: left;
	}
	.onsaledescription{
		clear: both;
	}
	.onsaledescription img{
		clear: both;
		float: left;
		width: 99px;
		height: 25px;
	}
	.viewmorelink2{
		text-align: right;
		width: 100%;
		float: right;
		clear: both;
		margin-bottom: 20px;
	}
	.shopbycategoriestitle{
		margin-left: 230px;
	}
	.shopbycategoriestitle img{
		margin-left: 170px;
	}
	.shopbycategoriesproperties{
		width: 100%;
		margin-top: 20px;
	}
	.shopbycategoriesdescription{
		clear: both;
		text-align: center;
		margin-top: 10px;
	}
	.storeinstore{
		clear: both;
		width: 100%;
	}
	.storeinstoretitle{
		margin-top: 40px;
	}
	.storeinstoretitle img{
		margin-left: 590px;
		margin-bottom: 20px;
	}
	.storeinstorebody{
		clear: both;
	}
	.storeinstorebody div{
		float: left;
		margin-bottom: 30px;
	}

	.feedback{
		clear: both;
		width: 1262px;
	}
	.feedbacktitle{
		margin-top: 40px;
	}
	.feedbacktitle img{
		margin-left: 607px;
	}
	.feedbackbody{
		clear: both;
	}
	.FeedBackBody div{
		float: left;
	}
	.feedbackimg{
		height: 280px;
	}
	.feature{
		clear: both;
		width: 1262px;
	}
	.featuretitle{
		margin-left: 55px;
	}
	.featuretitleimg{
		margin-left: 55px;
	}
	.footer{
		width: 85%;
		margin-top: 70px;
		margin:auto;
		margin-bottom: 30px;
	}
	.footerright{
		float: right;
		text-align: left;
	}
	.footerleft{
		float: left;
		padding-left: 50px;
	}
	.footerright input{
		width: 479px;
		height: 58px;
	}
	.footerright button{
		width: 99px;
		height: 58px;
		background-color: black;
		color: white;
		margin-left: 0px;
	}

