.thedivcontainall{
	width: 100%;
	margin : auto;
	padding : unset;

}
.header{
	background-color: white;
	align-content: center;
	margin:auto;

}
.bignavigator{
	width: 100%;
	background-color: black;
	padding-top: 15px;
	margin-bottom: unset;
}
.bignavigator div{
	float: left;
}