Options +FollowSymlinks
RewriteEngine on
RewriteRule "view/mainMenu.html" "view/mainMenu.php" [L]

RewriteRule "Home_Controller/addrequest.html" "Controller/Home_Controller.php?module=product&action=addrequest" [L]

RewriteRule "Home_Controller/displayFront.html" "Controller/Home_Controller.php?module=product&action=display_frontend"[L]

RewriteRule "Home_Controller/add.html" "Controller/Home_Controller.php/?module=product&action=add" [L]

RewriteRule "Home_Controller/display.html" "Controller/Home_Controller.php?module=product&action=display" [L]

RewriteRule "^edit/([a-zA-Z0-9]+).html$" "Controller/controllerReal.php?modudle=product&action=editrequest&id=$1"

RewriteRule "^delete/([a-zA-Z0-9]+).html$" "Controller/controllerReal.php?modudle=product&action=delete&id=$1"

RewriteRule "^editDone/([a-zA-Z0-9]+).html$" "Controller/Home_Controller.php?module=product&action=editthis&id=$1"
